<?php

return array(
    'fieldset_fields' => array(
        'show_id' => array(
            'label' => '',
            'form' => array(
                'type' => 'hidden',
            )
        ),
        'show_datetime' => array(
            'label' => __('Schedule'),
            'renderer' => 'Nos\Renderer_Datetime_Picker',
            'renderer_options' => array(
                'datepicker' => array(),
            ),
        ),
        // If you enable the sortable list feature (the "order" property on the renderer options), 
        // you have to add the order field as a hidden field
        //'show_order' => array(
        //    'form' => array(
        //        'type' => 'hidden',
        //    )
        //),
    )
);
