return array(
    'layout' => array(
        'content' => array(
            'mentions' => array(
                'view' => 'nos::form/expander',
                'params' => array(
                    'title'   => __('Movie shows'),
                    'nomargin' => false,
                    'content' => array(
                        'view' => 'novius_renderers::hasmany/layout',
                        'params' => array(
                            'fields' => array(
                                'shows',
                            ),
                        ),
                    ),
                ),
            ),
        ),
    ),
    'fields' => array(
        'shows' => array(
            'label' => __('Movie Show'),
            'renderer' => 'Novius\Renderers\Renderer_HasMany',
            'renderer_options' => array(
                'model' => 'Model_MovieShow',
                'related' => 'movies', // [Optional] The relation on which to save the items
                'inherit_context' => false, // [Optional] Set "false" to disable the context inheritance (true by default)
                'order_property' => 'show_order', // [Optional] The property on the model in which to save the order
                'order_field' => 'my_order_field', // [Optional] The form field from which the order is obtained (default is order_property)
                'before_save' => true, // [Optional] Set "true" to use the renderer's native save mechanism (false by default)
            ),
            'template' => '{field}',
        ),
    )
);
