<?php

return array(
    'fieldset_fields' => array(
        'show_id' => array(
            'label' => '',
            'form' => array(
                'type' => 'hidden',
            )
        ),
        'show_datetime' => array(
            'label' => __('Schedule'),
            'renderer' => 'Nos\Renderer_Datetime_Picker',
            'renderer_options' => array(
                'datepicker' => array(),
            ),
        ),
    )
);
