
        'link' => array(
            'label' => __('Link'),
            'renderer' => 'Novius\Renderers\Renderer_ModelSearch',
            'renderer_options' => array(
                'models' => array(
                    'Nos\BlogNews\News\Model_Post' => __('News story'),//This will be merged with novius_renderers/config/renderer/modelsearch.config.php
                    'Nos\BlogNews\Blog\Model_Post' => __('Blog Post')
                ),
                'names' => array(
                    'id' => 'item_foreign_id',//Optional. Default is automatically made with the prefix of the current model
                    'model' => 'item_foreign_model',//Optional. Default is automatically made with the prefix of the current model
                )
            ),
            'populate' => function ($item) {
                return array(
                    'model' => $item->item_foreign_model,
                    'id' => $item->item_foreign_id,
                );
            },
            'before_save' => function ($item, $data) {
                $item->item_foreign_model = '';
                $item->item_foreign_id = 0;
                $model = \Input::post('item_foreign_model', '');
                if (!empty($model)) {
                    $id = \Input::post('item_foreign_id', 0);
                    //Only save information if the correspond id/model exists
                    if (!empty($id) && !empty($model::find($id))) {
                        $item->item_foreign_model = $model;
                        $item->item_foreign_id = $id;
                    }
                }
            }
        ),