.hasmany_item {
    position: relative;
    border: solid 1px #BBBBBB;
    border-radius: 3px;
}

.hasmany_item .head {
    position: relative;
    padding: 8px;
    border: 0;
}

.hasmany_item .head:after {
    content: '';
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    height: 0;
}

.hasmany_item .head .left {
    float: left;
}

.hasmany_item .head .left a,
.hasmany_item .head .left button {
    margin: 0 5px 0 0;
}

.hasmany_item .head .right {
    float: right;
}

.hasmany_item .head .right a,
.hasmany_item .head .right button {
    margin: 0 0 0 5px;
}

.hasmany_item .hasmany_button_delete {
    width: 32px;
}

.hasmany_item .hasmany_button_move_up,
.hasmany_item .hasmany_button_move_down {
    width: 30px;
}

.hasmany_item:first-child .hasmany_button_move_up,
.hasmany_item:last-child .hasmany_button_move_down {
    display: none;
}

.hasmany_items .button-add-item {
    margin: 15px 0;
}

.hasmany_items .button-dupli-item {
    margin: 10px;
}

.hasmany_item .hasmany_message {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.hasmany_item .hasmany_content {
    padding: 10px;
    border-top: 0;
}

.hasmany_items .item_list .hasmany_item {
    margin: 10px 0;
}

.hasmany_items .item_list th,
.hasmany_items .item_list td {
    padding: 1em;
}

.hasmany_items .item_list th {
    font-weight: bold;
    padding-top: 17px;
}

.hasmany_items .item_list td {
    padding-right: 65px;
}
