.modelsearch select {
    margin-bottom:10px;
    margin-left: 5px;
}

.modelsearch label {
    width: 20%;
    float: left;
    display: inline-block;
}
.modelsearch .autocomplete, .modelsearch .ms-external {
    width: 80%;
    margin-top: 5px;
}

.ms-hidden {
    display : none;
}

.modelsearch .autocomplete-container {
    display: inline;
}

#line_second .expander .modelsearch {
    margin-bottom: .5em;
}

#line_second .expander .modelsearch label {
    width: 30.4%;
    padding: 7px;
    line-height: 120%;
    text-align: right;
    box-sizing: border-box;
    clear: left;
}

#line_second .expander .modelsearch .autocomplete {
    width: 69%;
}

#line_second .expander .modelsearch .autocomplete-container {
    position: relative;
    padding-left: .5em;
}
